:root {
    --dark:#4D4D4D;
    --blue: #3DB6FF;
    --white: white;
    --blue-background: #443DFF;
}



* {
    margin:0px;
    padding:0px;
    font-size:24px;
    font-family: serif;
}

body {
    background-color: var(--dark);
    color:var(--blue);
    text-align: center;
}

#top-page {
    padding: 30px;
    margin-bottom: 20px;
}

#top-page h1 {
    font-size:250%;
    padding-bottom: 30px;
}

#top-page p {
    color:var(--white);
}

main {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

footer h2 {
    font-size:125%;
    padding-bottom: 30px;
}

.card {
    flex:1 1 27%;
    border:3px dashed var(--white);
    margin: 20px 10px 30px 10px;
    position:relative;
    padding:15px;
    padding-top:0;
    display:flex;
    flex-direction: column;
    max-inline-size: 31%;
    transition: box-shadow 0.5s ease-in-out;
}

.card h1 {
    border:3px solid var(--white);
    font-size: 150%;
    margin:0 auto;
    position:relative;
    top:-20px;
    width:90%;
    left:0;
    right:0;
    background-color: var(--dark);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.card p {
    margin-bottom: 10px;
}

.card pre {
    background-color: var(--blue);
    border-radius: 20px;
    color:var(--white);
    padding: 25px 10px;
    flex:1 1 50%;
    user-select: all;
    background-image: linear-gradient(
    #3db5ff41 0%,
    #3d50ffa1 100%
    );
    white-space: pre-wrap;
}

/* pseudo classes */

.card:hover {
    box-shadow: 0px 5px 30px var(--blue-background);
}

.card:hover h1 {
    box-shadow: 0px 0px 20px var(--blue-background), inset 0px 0px 10px var(--blue-background);
}

/* .card:hover h1 {
    box-shadow: 0px 5px 20px var(--blue-background);
} */

.card code::selection {
    background: var(--blue-background);
    color:var(--white);
}

/* pseudo elements */
#pre::before {
    content: "<";
}

#pre::after {
    content: ">";
}

#pre {
    font-size: 100%;
}

/* media query */

@media screen and (max-width: 992px){
    .card {
        flex: 1 1 40%;
        max-inline-size: 45%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        flex: 1 1 100%;
        max-inline-size: 100%;
    }
}